{{!-- navbar --}}
<ul class="nav">
    <h3>Mongo Scraper</h3>
  <li class="nav-item">
    <a class="nav-link" href="/">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/saved">Saved Articles</a>
  </li>
 <li class="nav-item">
    <a class=" btn btn-danger scrape-new" >Scrape New Articles</a>
  </li>
</ul>

{{!-- jumbotron --}}

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4" style="text-align: center;">Saved Articles</h1>
    <p class="lead" style="text-align: center;">New York Times Edition</p>
  </div>
</div>

{{!-- footer --}}

<footer class="footer">
    <div class="container2">
        <p>New York Times Mongo Scraper</p>
    </div>
</footer>

{{!-- links --}}

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="/assets/javascript/saved.js"></script>